<!DOCTYPE html>
<html>
<head>
  <title>VideoLoader</title>
  <%= stylesheet_link_tag    "video_loader/application", media: "all" %>
  <%= javascript_include_tag "video_loader/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
